@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}



/* First section*/

.first-section {
    background-color: #1f2937;
    height: 55vw;
}

.first-img {
    width: 40%;
    border-radius: 8px;
}

.navbar-left {
    color: #F9FAF8;
    font-size: 3vw;
}

.list {
    list-style-type: none;
    display: flex;
    color: #E5E7EB;
    gap: 8px;
    font-size: 4vw;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-right: 4%;
}

.content {
    color: #E5E7EB;
    display: flex;
    width: 90%;
    margin: auto;
}


.first-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: #F9FAF8 solid 1px;
    border-radius: 6px;
    height: 15%;
    width: 75%;
    font-size: 4vw;
}

.first-section-text {
    min-width: 255%;
    font-size: 4vw;
}

.first-section-title {
    width: 160%;
    font-size: 7vw;
}

.content-left {
    width: 50%;
}

.content-right {
    height: 20%;
    display: flex;
    justify-content: flex-end;
}



/* Second section*/


.second-img {
    max-width: 45%;
    height: auto;
    border: 3px #3882F6 solid;
    border-radius: 16px;
}

.second-title {
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    font-size: 7vw;
}

.text {
    font-size: 5vw;
    width: 45%;
}

.second-text {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
}

.second-section-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 4%;
}

.second-section-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    margin-bottom: 4%;
}

/* Third section */

.third-section {
    background-color: #E5E7EB;
    padding: 0.2em;
}

.third-sect-items {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.third-section-text {
    color: #1f2937;
    font-size: 5vw;
}

.author {
    font-size: 5vw;
}



/* Fourth section */

.fourth-section {
    background-color: #3882F6;
    border-radius: 8px;
    width: 95%;
    margin: auto;
    margin-top: 4vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.2em;
}

.fourth-left {
    color: #F9FAF8;
    width: 90%;
}

.fourth-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40%;
    float: right;
}

.second-button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: #F9FAF8 2px solid;
    border-radius: 6px;
    font-size: 4vw;
    padding: 0.25em;
}

.fourth-sect-title {
    font-size: 6vw;
}

.fourth-sect-para {
    font-size: 4vw;
    width: 110%;
}

@media screen and (min-width:300px) {
    .text {
        font-size: 4vw;
        width: 60%;
    }

    .second-img {
        max-width: 80px;
    }

    .second-section-info {
        max-width: 150px;
    }

}

@media screen and (min-width:400px) {
    .text {
        width: 70%;
        font-size: 4vw;
    }

    .second-img {
        max-width: 70%;
    }

    .second-section-info {
        min-width: 50%;
    }
}

@media screen and (min-width:600px) {
    .text {
        font-size: 3vw;
    }

    .third-section-text {
        font-size: 4vw;
    }

    .author {
        font-size: 4vw;
    }

    .fourth-sect-title {
        font-size: 4vw;
    }

    .fourth-sect-para {
        font-size: 3vw;
    }

    .second-button {
        font-size: 3vw;
        padding: 0.2vw;
    }

    .first-section-text {
        height: 50%;
    }
}

@media screen and (min-width:800px) {
    .first-section-text {
        font-size: 4vw;
        min-width: 200%;
    }

    .first-section-title {
        font-size: 6vw;
    }

    .first-button {
        max-width: 50%;
    }

    .list {
        font-size: 3vw;
    }

    .second-title {
        font-size: 5vw;
    }

    .second-section-info {
        max-width: 25%;
    }

}