@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}



/* First section*/

.first-section {
    background-color: #1f2937; ;
}

.first-img{
    width: 35%;
    border-radius: 8px;
}

.navbar-left{
    color: #F9FAF8;
    font-size: 3vw;
}

.list{
    list-style-type: none;
    display: flex;
    color: #E5E7EB;
    gap: 8px;
    font-size: 4vw;
}

.navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 5%;
 margin-left: 4%;
 margin-right: 4%;
}

.content{
    color: #E5E7EB;
    display: flex;
    width: 90%;
    margin: auto;
}


.first-button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: #F9FAF8 solid 2px;
    border-radius: 5px;
    height: 15%;
    width: 75%;
    font-size: 4vw;
}

.first-section-text{
    min-width: 255%;
    max-height: 45%;
    font-size: 4vw;
}

.first-section-title{
    width: 160%;
    font-size: 7vw;
}

.content-left{
    width: 50%;
}

.content-right{
    height: 20%;
    display: flex;
    justify-content: flex-end;
}



/* Second section*/


.second-img{
    width: 45%;
    height: auto;
    border: 3px #3882F6 solid;
    border-radius: 16px;
}

.second-title{
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  font-size: 7vw;
}

.text{
    font-size: 5vw;
    width: 45%;
}

.second-text{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
}

.second-section-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 4%;
}

.second-section-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 4%;
}

/* Third section */

.third-section{
    background-color: #E5E7EB;
}

.third-sect-items{
width: 90%;
margin: auto;
display: flex;
flex-direction: column;
align-items: flex-end;

}

.third-section-text{
    color: #1f2937;
    font-size: 5vw;
}

.author{
    font-size: 5vw;
}



/* Fourth section */

.fourth-section{
    background-color: #3882F6;
    border-radius: 2px;
    width: 90%;
    max-height: 10%;
    margin: auto;
    margin-top: 4vw;
    display: flex;
    align-items: flex-end;
}

.fourth-left{
    color: #F9FAF8;
    width: 75%;
}

.second-button{
    color: #F9FAF8;
    background-color: #3882F6;
    border: #F9FAF8 2px solid;
    border-radius: 8px;
    font-size: 5vw;
}

.fourth-sect-title{
    font-size: 6vw;
}

.fourth-sect-para{
    font-size: 4vw;
}